.wrapper {
  min-width: 450px;
  max-height: 560px;
  background-color: rgb(13, 17, 23);
  display: flex;
  flex-direction: column;
}

.container {
  background-color: rgb(22, 27, 34);
  border-bottom-color: rgb(48, 54, 61);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: solid;
  border-bottom-width: 0.8px;
  border-left-color: rgb(48, 54, 61);
  border-left-style: solid;
  border-left-width: 0.8px;
  border-right-color: rgb(48, 54, 61);
  border-right-style: solid;
  border-right-width: 0.8px;
  border-top-color: rgb(48, 54, 61);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top-style: solid;
  border-top-width: 0.8px;
  box-sizing: border-box;
}

.headingContainer {
  display: flex;
  justify-content: center;
}

.form {
  padding: 1rem 2rem;
}

$fontColor: rgba(255, 255, 255);

.heading {
  color: $fontColor;
  padding: 1rem;
  font-size: 20px;
  font-weight: 400;
}

.divider {
  border-bottom: 0.8px solid rgb(33, 38, 45);
}
