.wrapper {
  min-width: 450px;
  max-height: 560px;
  background-color: rgb(13, 17, 23);
  display: flex;
  flex-direction: column;
}

.container {
  background-color: rgb(22, 27, 34);
  border-bottom-color: rgb(48, 54, 61);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: solid;
  border-bottom-width: 0.8px;
  border-left-color: rgb(48, 54, 61);
  border-left-style: solid;
  border-left-width: 0.8px;
  border-right-color: rgb(48, 54, 61);
  border-right-style: solid;
  border-right-width: 0.8px;
  border-top-color: rgb(48, 54, 61);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top-style: solid;
  border-top-width: 0.8px;
  box-sizing: border-box;
}

.headingContainer {
  display: flex;
  justify-content: center;
}

.form {
  padding: 1rem 2rem;
}

$fontColor: rgba(255, 255, 255);

.heading {
  color: $fontColor;
  padding: 1rem;
  font-size: 20px;
  font-weight: 400;
}

.divider {
  border-bottom: 0.8px solid rgb(33, 38, 45);
}

.fieldWrapper {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.label {
  color: $fontColor;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.field {
  font-size: 14px;
  font-weight: 400;
  margin: 0px 5px 0px 0px;
  overflow: clip;
  box-sizing: border-box;
  outline: rgb(230, 237, 243) none 0px;
  outline-offset: 0px;
  background-color: rgb(13, 17, 23);
  background-position: calc(100% - 8px) 50%;
  background-repeat: no-repeat;
  border-radius: 6px;
  color: rgb(230, 237, 243);
  padding: 5px 12px;
  transition: color 0.08s cubic-bezier(0.33, 1, 0.68, 1), background-color,
    box-shadow, border-color;
  vertical-align: middle;
  max-width: 100%;
  width: 440px;
  border: 0.8px solid rgb(48, 54, 61);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;

  &:focus {
    border: 0.8px solid rgb(47, 129, 247);
    box-shadow: rgb(47, 129, 247) 0px 0px 0px 1px inset;
  }
}

.button {
  width: 100%;
  margin: 1.5rem auto;
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  overflow: visible;
  appearance: button;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  outline: rgb(255, 255, 255) none 0px;
  outline-offset: 0px;
  align-items: center;
  background-color: rgb(35, 134, 54);
  color: rgb(255, 255, 255);
  flex-direction: row;
  gap: 4px;
  height: 32px;
  justify-content: space-between;
  min-width: max-content;
  padding: 0px 12px;
  position: relative;
  transition-property: color, fill, background-color, border-color;
  user-select: none;
  transition-duration: 0.08s;
  fill: rgb(255, 255, 255);
}
