@tailwind base;
@tailwind components;
@tailwind utilities;

#christmas-lights-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
}

.christmas-light {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  animation: blink 1s infinite;
  animation-timing-function: step-start;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
